
# --------------------------- IDE files & folders ---------------------------- #

*.pyc
.idea
.env
.venv
.vscode
.mypy_cache
.DS_Store
data/*
app/data

# --------------------------------- Logging ---------------------------------- #

log
*.log

# --------------------------- cache folders & files -------------------------- #

cache
__pycache__
app/core/deidentify/models

# --------------------------------- Testing ---------------------------------- #

test
pytest

# ---------------------------------- Build ----------------------------------- #

build
dist
